<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flow | Список задач на день с положительным подкреплением | Ошибка</title>
</head>
<body style="font: 30pt Verdana; color: wheat; background-color: black;">
<div style="text-align: center;
            min-height: 10em;
            display: block;
            vertical-align: middle">
    <img src="/images/500.png" style="padding: 50px;"/>
    <span style="display: block;">Произошла ошибка. Лучше вернитесь на
        <a href="/" style="color: wheat;">главную страницу</a></span>
</div>
</body>
</html>